<ion-content padding>

  <div text-center *ngIf="user.isLoggedIn">
    <ion-row style="height: 25px"></ion-row>
    <img class="avatar" src="{{user.imageUrl}}">
    <ion-row style="height: 10px"></ion-row>
    <div no-padding>
      <h1 ion-text>Welcome, {{user.displayName}}!</h1>
    </div>
    <ion-row style="height: 20px"></ion-row>
    <ion-item>
      <ion-label color="dark">Select Your Department</ion-label>
      <ion-select [(ngModel)]="selectedDept" (ionChange)="onDeptSelected()">
        <ion-select-option *ngFor="let d of deptList" value="{{d.id}}">{{d.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div text-center *ngIf="!user.isLoggedIn">
    <ion-row style="height: 50px"></ion-row>
    <h1>Welcome to Sri Aurobindo Ashram Milk Recorder</h1>
    <ion-row style="height: 15px"></ion-row>
    <ion-button middle color="danger" (click)="login()">
      <ion-icon name="logo-googleplus"></ion-icon>
      &nbsp; Login with Google
    </ion-button>
  </div>

</ion-content>

<ion-footer no-border text-center *ngIf="user.isLoggedIn">
  <ion-button color="danger" (click)="logout()">Logout</ion-button>
  <ion-row style="height: 30px"></ion-row>
</ion-footer>